
<div id="contentdiv">
	<h1 class="form_titles">Create a Party</h1>

	<%= render 'form' %>

	<div style="text-align:center;">
		<%= link_to 'Back', parties_path %>
	</div>
</div> 
<style type="text/css"> 
	#nav_container{
		display: none;
	}

	#contentdiv{
		padding-top: 30px;
		padding-bottom: 30px;
	}

</style>